// Color
$color-primary: #F1CDB3;
$color-primary-hover: #FDDCC4;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;

$transition-2: 0.2s;

// Size
$wrapper-size: 1280px;
$brake-point-1: 870px;