@import "constants";

.header {
  position: relative;
  top: 60px;
  z-index: 999;
  transition: $transition-2*2;

  &__shadow {
    display: none;
  }
  
  @media (max-width: $brake-point-1) {
    top: 30px;
  }

  @media (max-width: $brake-point-2) {
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -320px;
    padding-top: 30px;
    background-color: $color-dark-3xl;

    &__shadow {
      width: 100vw;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      right: -100vw;
      z-index: -1;
      background-color: rgba(41, 41, 41, 0.6);
    }
  }

  .wrapper {
    display: flex;

    @media (max-width: $brake-point-2) {
      display: block;
    }

    .header__logo {
      font-family: Georgia, serif;
      display: inline-block;
      cursor: pointer;
    }

    .header__nav-menu {
      height: 100vh;
      margin-left: auto;
      display: flex;
      align-items: center;
      color: $color-light-s;

      @media (max-width: $brake-point-2) {
        justify-content: center;
      }

      ul.menu {
        margin-top: -6px;

        @media (max-width: $brake-point-2) {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 41px;
          //margin-top: 219px;
        }

        li.menu__item {
          display: inline;
          padding-left: 31.5px;

          @media (max-width: $brake-point-2) {
            font-size: 32px;
            line-height: 160%;
            margin-left: -31px;
          }

          a.menu__link {
            color: $color-dark-s;
            padding: 4px 0;

            @media (max-width: $brake-point-2) {
              padding: 7px 0;
            }

            &:hover {
              color: $color-light-s;
            }

            &-active {
              color: $color-light-s;
              border-bottom: 3px solid $color-primary;
            }
          }
        }
      }
    }

  }
}