@import "constants";

.pets {
  padding: 80px 0 100px 0;
  background-color: $color-light-l;

  .wrapper {
    .pets__content {
      @extend .flex-column-center;

      .content__heading {
        max-width: 400px;
        text-align: center;
        margin-bottom: 58px;
      }

      .pets__slider {
        width: 100%;
        max-height: 435px;
        display: flex;
        align-items: center;
        margin-bottom: 60px;

        .slider__arrow {
          @extend .arrow;
          background: url(../../assets/images/Arrow.png) center center no-repeat;
        }

        .slider__content {
          display: flex;
          flex-wrap: wrap;
          column-gap: 90px;

          @media (max-width: 1200px) {
            column-gap: 40px;
          }

          .slider__card {
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            background-color: $color-light-xl;

            @media (max-width: 1090px) {
              &:last-child {
                display: none;
              }
            }

            .card__image {
              width: 270px;
              height: 270px;
            }

            .card__title {
              font-family: 'Georgia', serif;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 23px;
              letter-spacing: 0.06em;
              color: $color-dark-l;
            }

            .card__button {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}