@import "../../assets/css/normalize.css";
.header {
  position: relative;
  top: 60px;
  z-index: 9;
}
.header .wrapper {
  display: flex;
}
.header .wrapper .header__logo {
  font-family: Georgia, serif;
  display: inline-block;
  cursor: pointer;
}
.header .wrapper .header__logo .logo__link .logo__title {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 10px;
}
.header .wrapper .header__logo .logo__link .logo__subtitle {
  font-family: Arial, serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFFFFF;
  padding-right: 1px;
}
.header .wrapper .header__nav-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #FAFAFA;
}
.header .wrapper .header__nav-menu ul.menu {
  margin-top: -6px;
}
.header .wrapper .header__nav-menu ul.menu li.menu__item {
  display: inline;
  padding-left: 31.5px;
}
.header .wrapper .header__nav-menu ul.menu li.menu__item a.menu__link {
  color: #CDCDCD;
  padding: 4px 0;
}
.header .wrapper .header__nav-menu ul.menu li.menu__item a.menu__link:hover {
  color: #FAFAFA;
}
.header .wrapper .header__nav-menu ul.menu li.menu__item a.menu__link-active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.start_screen {
  position: relative;
  top: -60px;
  padding-top: 180px;
  background: url(../../assets/images/start-screen-gradient-background.png) center center no-repeat, url(../../assets/images/start-screen-background.png) center center no-repeat;
}
.start_screen .start_screen__container {
  display: flex;
}
.start_screen .start_screen__container .start_screen__content {
  width: 460px;
  margin-right: 42px;
  padding-top: 163px;
}
.start_screen .start_screen__container .start_screen__content .content__heading {
  width: 310px;
  font-family: Georgia, serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 129%;
  color: #FFFFFF;
  margin-bottom: 42px;
}
.start_screen .start_screen__container .start_screen__content .content__subheading {
  font-family: "Arial", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  color: #CDCDCD;
  margin-bottom: 41px;
}
.start_screen .start_screen__container .start_screen__content .content__button {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: 0;
  color: #292929;
  cursor: pointer;
}
.start_screen .start_screen__container .start_screen__content .content__button:hover {
  background-color: #FDDCC4;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  transition: 0.2s;
}
button {
  transition: 0.2s;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: Arial, serif;
  font-size: 15px;
  position: relative;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
