@import "../../assets/css/normalize.css";
@import "header";
@import "start-screen";
@import "about";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  transition: $transition-2;

  &:hover {
    //color: lighten(blue, 30%);
  }
}

button {
  transition: $transition-2;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: Arial, serif;
  font-size: 15px;
  position: relative;
  overflow-x: hidden;
  //background: #2c0606;
}

.wrapper {
  max-width: $wrapper-size;
  margin: 0 auto;
  padding: 0 40px;
  //outline: 1px solid red;

  @media (max-width: 768px) {
    padding: 0 30px;
  }
}